.container {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: black;
  color: white;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.listItem {
  cursor: pointer;
  margin-right: 1rem;
  padding: .5rem;
}

.listItem:hover {
  background-color: rgba(256, 256, 256, .6);
}